.SignUpWidget {
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 1em auto;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-color: #a4c2b2;
    width: 400px;
    background: transparent;
    border: 2px #a4c2b2 solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.UsernameField,
.PasswordField {
    height: 1.5em;
    border: 2px solid;
    border-radius: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: #a4c2b2;
    background: transparent;
    font-family: "Figtree", sans-serif;
    line-height: 2.5;
    width: 50%;
    font-weight: 400;
    margin-bottom: 1em;
}

input::placeholder {
    color: #a4c2b2;
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background: transparent;
    color: white;
    width: 50%;
    transition: all 5000s ease-in-out 0s;
}

.Header {
    font-size: 2.5em;
}

.ErrorLabel {
    list-style: none;
    color: red;
    margin-bottom: 0.5em;
    background: transparent;
    margin-top: 0;
}

.Group {
    width: 100%;
    padding: 1em;
    margin-bottom: 0.5em;
}